div {
  font-family: "Times New Roman", Times, "Lucida Console", "Candara", sans-serif;
}

.container-md {
  margin-left: auto;
  margin-right: auto;
}
  
.column-sm {
  float: left;
  width: 25%;
}
  
.column-md {
  float: left;
  width: 50%;
}
  
.column-md-box {
  float: left;
  width: 40%;
  box-shadow: 5px 5px 2px 1px rgb(0 0 0 / 0.1)
}
  
.column-lg {
  float: left;
  width: 75%;
}

.row {
  width: 100%;
  padding-bottom: 30px;
}

<!-- Icons -->

.icons {
  color: #cc7722;
}

i {
  color: #cca122;
  font-size: 50px;
}

.fa {
  font-size: 50px;
}
