body, h1, h2, h3, h4, h5, h6 {
  font-family: "Palatino Linotype", sans-serif;
}

.container-md {
  margin-left: auto;
  margin-right: auto;
}

.column-strip-mini {
  width: 5%;
}

.column-strip {
  width: 10%;
}
  
.column-sm {
  width: 15%;
  float: left;
  padding-top: 10px;
}
  
.column-md {
  width: 50%;
  float: left;
}
  
.column-lg {
  width: 80%;
  float: left;
}

.row {
  width: 100%;
  float: left;;
}
  
.row-box {
  width: 100%;
  float: left;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1), 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  margin-bottom: 15px;
}

.row-header {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 15;
}

<!-- Icons -->

.icons {
  color: #B89161;
}

i {
  color: #B89161;
  font-size: 40px;
}

.fa {
  font-size: 40px;
}
  
<!-- Links -->

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
